
/*inicio de Css detallado*/

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(15, 13, 33);
    margin: 0px;
    color: white;}


header{
    display: flex;
    flex-direction: row;
    height: 3rem;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: black;
    margin-bottom: 10px;

    .imglogo{
        width: 100%;

    .logo{
        width: 80%;
        margin: 4px 0px 0px 10px;
        padding: 0px 25px 0px 00px;
        transition: width .5s, height .5s;
        transition-timing-function: ease;
        transition-delay: 0s;
        border-right: 2px solid orange;

        &:hover{
            width:85%}
        }
    }

    .menu{
        width: auto;
        font-family: 'Lato', sans-serif;
        width: 100%;
        margin-top: .15rem;

        a{
            color: white;
            display: block;
            text-decoration: none;
        }

        ul{
            width: 100%;
            display: flex;
            list-style: none;
            text-align: center;
            text-decoration: none;
            justify-content: center;
            position: relative;
            li{
                display: inline-block;
                flex-grow: 1;
                width: 100%;
                padding: 10px 45px 12px 45px;
                font-size: 15px;
                font-family: 'Roboto', sans-serif;
                position: relative;
                transition: background .15s;
                &:hover{
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.233);
                    ul{
                        display: block;
                    }
                }
                    ul{
                        display: none;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.86);
                        left: 0px;
                        top: 2.7rem;
                        flex-direction: column;
                        li{
                            width: 100%;
                        }
                    }
            }
        }


    }
    }

    .contenido{
        display: flex;
        flex-direction: row;
        }

    #activo{
        color: orange;
    }

section{
    background-color: rgb(15, 13, 33);
    width: 100%;}

footer{color: white;
    text-align: center;
    background-color: none}

.red{
    width: 25px;
    height: 25px;
    margin: auto;}




ol{
    margin-right: 1rem;
    margin-left: 1rem;
}

ul li{
    color: white;}

ol li{
    color: white}

h1{
    color:orange;
    font-size: auto;
    font-family: 'Lato', sans-serif;
}

h2{
    color: rgb(172, 238, 49);
    font-family: 'Lato', sans-serif;
}

h3{
    color: orange;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

p{
    color:white;
}

/* Fin de Css general e inicio de Css especificos en paginas */

/* Pagina de Principal*/

.imgPrincipal{
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;

    .imgIndex1{
        position: absolute;
        margin-top: 2%;
        width: 100%;


    .img1index{

        .img1{
            width: 70%;
            position: absolute;
        margin-left: 15%;}
        }
    }

.textindex{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    p{
        color: white;
        font-size: 200%;
        background-color: black;
        margin: auto;
        width: 70%;
        font-style:italic;
        font-weight: 900;
        }
    }

.botonindex{
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 30%;
        .boton1{
            font-size: 125%;
            margin-left: 5%;
            color: white;
            background-color: red;
        }
        .boton2{
            font-size: 125%;
            margin-right: 5%;
            color: white;
            background-color: rgb(255, 196, 0);
            margin-left: 5%;
        }
    }

.imgIndex2{
    filter: blur(8px);
    position: relative;

    .img2{
        width: 100%;
        object-fit: cover;
}
    }
}

/* fin de Pagina de principal*/

/* Pagina de Cocteles*/

.cocteles{

    ul{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .refrescantes{
        text-align: center;

        #tiposcocteles{
            font-size: 30px;}
        }

    .coctelesRefrescantes{
        display: grid;
        width: 100%;
        justify-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "mojito caipirinha";
        list-style-position: inside;
        grid-column-gap: 10px;

        .mojito{
            grid-area:mojito;
            text-align: center;
            background-color: black;
            margin: 10px 1px 10px 5px;}

        .caipirinha{
            grid-area: caipirinha;
            text-align: center;
            background-color: black;
            margin: 10px 5px 10px 1px;}
        }

    .imgCocteles{
        width: 70%;
        margin: auto;}

    #imgCocteles{
        width: 100%;
    margin: 20px 0px;}


    .agitados{
        text-align: center;

        #tiposcocteles{
            font-size: 30px;}
    }
        .coctelesagitados{
            display: grid;
            width: 100%;
            justify-content: space-around;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
            "between whiskySour";
            list-style-position: inside;
            grid-column-gap: 10px;

        .between{
            grid-area:between;
            text-align: center;
            background-color: black;
            margin: 10px 1px 10px 5px;

            #imgBetween{
                width: 100%;}
            }


        .whiskySour{
            grid-area: whiskySour;
            text-align: center;
            background-color:
            black; margin: 10px 5px 10px 1px;

            #imgWhiskysour{
                width: 100%;}
            }
        }


    .instrucciones ul{
        padding-left: 0px;}
    .instrucciones ol{
        padding-left: 0px;}

    }

/* fin de Pagina de cocteles*/

/* Pagina de Eventos*/

.articulos{
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-template-areas:
    "art art-img"
    "art-img2 art2"
    "art3 art-img3";
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1%;
    text-align: justify;

    .art{
        grid-area: art;
        width: 100%;
        margin-top: 5%;

        .titulo-art{
            text-align: center;
            margin-bottom: 5%;}
        }

    .art-img{
        grid-area: art-img;
        width: 100%;

        .imgart{
            width: 100%;}
        }


    .art2{
        grid-area: art2;
        width: 100%;
        margin-top: 10%;

        .titulo-art{
            text-align: center;
            margin-bottom: 5%;}
        }

    .art-img2{
        grid-area: art-img2;
        width: 100%;

        .imgart2{
            width: 100%;}
        }

    .art3{
        grid-area: art3;
        width: 100%;
        margin-top: 10%;

        .titulo-art{
            text-align: center;
            margin-bottom: 5%;}
        }

    .art-img3{
        grid-area: art-img3;
        width: 100%;

        .imgart3{
            width: 100%;}
        }

}
/* Pagina de Licores*/

.licores{
    margin: auto;
    width: 90%;
    color: black;
    text-align: center;
    margin-bottom: 30px;

    p{
        color: black;
        text-align: center;
    }
    .card-img-top{
        width: 90%;
        margin: auto;
    }
    .text-muted{
        color: rgb(255, 123, 0) !important;
        font-weight: 600;
    }
}

/* fin de Pagina de licores*/

/* Pagina de cursos*/

.cajaFormulario{
    width: 100%;
    margin: auto;
    margin-top: 3%;


    #cursosFechas{
        li{
            color: white;
            list-style: none;
            margin-top: 5px;}
        }
        .postulate{
            margin-top: 10px;}

        .fechasdeCursos{
            text-align: center;}

    }

.tiposCursos{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    .cursos{
        margin-right: 10px;
        margin-top:10px;
        background-color: rgba(0, 0, 0, 0.562);
        width: 30%;
        padding-bottom: 2%;

        .cursosImg{
            width: 300px;
            height: 430px;}
        }

    }

/* fin de Pagina de cursos*/

/* Pagina de contacto*/

#redes{
    display: block;
    text-align: center;

    .redesContacto{
        width: 100px;
        height: 100px;
        margin: 0px 10px 20px 10px;}
}

fieldset{
    background-color: rgb(28, 13, 61);
    color:white;
    text-align: center;
    margin-bottom: 10px;

    .sexo{
        display: block;
        padding: 10px}

    .edad{
        display: block;
        margin: 10px}

    .nombre{
        display:block;
        margin: 10px;

        #nombre_apellido{
            display: block;}}

    .correo{
        display: block;
        margin: 10px}

    .terminos {

        a{
        text-decoration: none;
        color: yellow;}
        }

    .boton{
        display: block;
        margin: 10px}

    .escribenos{

        .mensaje{
            display: block;}
    }

}
/* fin de Pagina de contacto*/

/* fin de Css*/